<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>A propos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Imaginez une solution qui accélère vos notes d’investissement avec précision, en respectant les normes réglementaires, tout en s’adaptant à vos besoins en temps réel. Grâce à notre modèle personnalisé de génération de rapports, automatisé et adapté à votre thèse d'investissement, vous gagnez un temps précieux en production de contenu.</p>
      </div>
      <div class="col-lg-4">
        <p>Avec une structure prête à l’emploi, intégrable dans vos systèmes, cette solution transforme vos cibles en analyses pertinentes, claires et conformes. En somme : des rapports de haute qualité, plus vite, pour une prise de décision optimale – le tout avec moins de ressources. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://les-maths-en-langage-naturel.kit.com/products/invest-ai" class="btn btn-lg btn-outline">
          <i class="fa fa-comments"></i> Je m'abonne maintenant
        </a>
      </div>
    </div>
  </div>
</section>
