<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Découvrez LegiFina, un service révolutionnaire d’assistance à la rédaction des notes d’investissement grâce à l'IA. Optimisé pour votre thèse d'investissement, il vous assure une qualité constante et une interprétation fiable des données. Libérez votre temps pour ce qui compte véritablement : améliorer vos performances financières et satisfaire vos commanditaires grâce à une conformité infaillible et une personnalisation complète.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
